// Global styles
@import "colors";
@import "global";

// Sprites/Images
@import "modules/sprites";

// Sections of the page
@import "modules/nav";
@import "modules/hero";
@import "modules/services";
@import "modules/contact";
@import "modules/footer";


// Mobile version
@import "mobile";


.bruh {
  position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
            align-items: center;
}
